#grad1 {
    height: 60px;
    background: blue;
    background: linear-gradient(to bottom right, DarkMagenta, Navy);
}

#left {
  float: left
}

#right {
  float: right
}

#center {
  float: center
}
